html {
scroll-behavior: smooth;
}

/* header */
.header {
display: flex;
justify-content: center;
align-items: center;
position: fixed;
width: 100%;
height: 80px;
z-index: 1000;
background-color: #2c2c2c;
}
.nav_log{
  display: flex;
}
.nav_log_img{
  position: absolute;
  top: 0;
  left: 220px;
  height: 163px;
  width: 134px;
  z-index: 39200;
}


.nav_ul {
  display: flex;
  width: 583px;
  justify-content: space-between;
}
.nav_img {
  height: 12px;
  cursor: pointer;
}
.nav_li {
font-size: 11px;
 font-style: normal;
cursor: pointer;
color: #ececec;
text-decoration: none;
transition: color .6s;
}
.nav_li:hover {
color: #fdd400;
}

.nav_menu_option {
  display: none;
  justify-content: center;
  align-items: center;
}
.nav_menu_option_img {
  width: 80px;
  height: 20px;
}

.nav_ul_respon {
  display: none;
}

.nav_ul_respon-active {
  display:flex
}

.nav_container_img {
  display: flex;
  width: 74px;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  right: 120px;

}


/* ----------------------------------- */

/* Portada Principal */
.portada {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
height:90vh;
}

.slider_img {
width: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
backdrop-filter: saturate(90%);
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.dot {
  background-color: red;
  cursor: pointer;
  position: absolute;
  z-index: 1002;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  /* display: inline-block; */
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}

.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .3;
  transition: .5s ease;
  background-color: #2c2c2c;

}

/* @media screen and (max-width:1440px){ 
.nav_log_img{
  height: 160px;
left: 140px;

}
.header {
height: 60px;
}


} */


/* SELECTOR DE IDIOMAS */

.titular_01 {
  display: flex;
  flex-direction: column;
  position: absolute;

  top: 35%;
  left:220px;
}

.titulo_h3 {
  color: #FFFFFF;
  font-size: 65px;
  font-weight: 400;
}

.titulo_h1 {
  color: #FFFFFF;
  font-size: 116.72px;
  font-weight: 700;
}


.goTo {
  display: flex;
  flex-direction: column;
  height: 80px;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  bottom: 15%;
}

.idioma_container {
  display: flex;
  /* align-self: flex-end; */
  padding: 5px;
  justify-content: space-around;
  align-items: center;
  width: 102px;
  height: 19px;
  border: #ececec solid 1px;
  border-radius: 7px;
  z-index: 128;
}

.idioma_li {
font-size: 10px;
font-weight: 700;
cursor: pointer;
color: #ececec;
list-style: none;
}
.idioma_li:hover {
color: #fdd400;
}

.arrowDown{
  cursor: pointer;
  width: 40px;
}

.section-01 {
  display: flex;
  flex-wrap: wrap;
  /* padding: 10px 60px 10px 60px; */
  justify-content: center;
  align-items: center;
  background-color: #ececec;
  width: 100%;
  height: 412px;
  padding: 0px 0px;
}

.section-01_video {
  display: flex;
  justify-content: center;
  align-items: center;
    width: 500px;
  height: 284px;
  /* width: 50%; */
  /* height: 100%; */
  /* height: 500px; */
}



.section-01_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   width: 550px;
  height: 384px;  
}

.section-01_text_container {
  width: 427.95px;
}
.section-01_h1 {
  font-weight: 900;
  text-align: center;
  color: #2c2c2c;
  font-size: 50px;
}
.section-01_p {
  color: #5f5d5b;
  font-size: 14.06px;
  text-align: justify;
}


/* SECCION 2 */
.section-02 {
  display: flex;
  justify-content: center;
  align-items: center;
background-image: url(../assets/FONDOONDAS.png);
max-width: 100%;
height: 687.00px;
background-attachment: fixed;
/* padding: 100px 0px; */
/* min-height: 100vh; */
/* background-repeat: repeat;
background-position: center;
background-size: cover; */
}

.parallax-content { 
  height: 687.00px;
  overflow-x: hidden; 
  overflow-y: auto; 
  perspective: 2px;
}

.parallax-section {
  position: relative;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.section-02_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;

  /* height: 600px; */
  /* padding: 80px; */
}
.section-02_div_container {
display: flex;
margin-top: 60px;
flex-wrap: wrap;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
}

.section-02__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 90%;
    z-index: 20;
}


.section-02__div_hoverOn {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

   width: 361px;
  height: 430px;

    z-index: 10;
}

.section-02__div_header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 361px;
  height: 141px;
background-color: #383736;
}

.section-02__div_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
width: 100%;
height: 300px;
background-color:#ececec;

}


.section-02__div_body_hoverOn {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
width: 100%;
height: 100%;
/* background-color:#ececec; */
}








.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffcc00;
}

.img_mision {
   width: 100px;
   height: 100px;
    margin-left: 20px; 
    background-image: url(../assets/arrow_black.svg);  
    background-repeat: no-repeat;
background-position: center;
background-size: contain;
}
.img_vision {
   width: 100px;
   height: 100px;
 
    background-image: url(../assets/barco_black.svg);  
    background-repeat: no-repeat;
background-position: center;
background-size: contain;
}
.img_valores {
   width: 100px;
   height: 100px;

    background-image: url(../assets/diamante_black.svg);  
    background-repeat: no-repeat;
background-position: center;
background-size: contain;
}


.circle:hover{
  background-color:#2c2c2c;
}

.circle:hover .img_mision{
   background-image: url(../assets/flecha_amarilla.svg);
}

.circle:hover .img_vision{
   background-image: url(../assets/barco_amarillo.svg);
}

.circle:hover .img_valores{
   background-image: url(../assets/diamante_amarillo.svg);
}




.section-02_h1 {
  font-weight: 800;
  text-align: center;
  color: #2c2c2c;
  font-size: 19.57px;
}
.section-02_p {
 font-size: 14.05px;
  font-family: "Helvetica LT Std";
  color: rgb(95, 93, 91);
  line-height: 1.2;
  text-align: center;
  width: 230.308px;
  height: 126.673px;
}



/* SECCION 3 */

.section-03 {
  display: flex;
  justify-content: center;
  align-items: center;
background-color: #f8f8f8;
width: 100%;
/* height: 100vh; */
padding: 80px 0px 0px 0px;
}

.section-03_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.slider_servicios_opciones {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.section-03_h1 {
  margin-top: 40px;
  font-weight: 700;
  text-align: center;
  color: #9b9894;
  font-size: 16px;
  cursor: pointer;
  transition: color .4s linear;
}
.section-03_h1:hover {
  color: #383736;
}

.activeH1 {
    color: #383736;
}
.sider_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: 30px;
  width: 100%;

}

.sider_div_info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* align-items: center; */
   width:550px;

    height: 600px;
  background-color: #1c1b1b;
}

/* AQUI ESSSS */
.sider_div_info_h2 {
  font-weight: 700;
  color: #ffffff;
  font-size: 47.94px;
}

.sider_div_info_h1 {
  font-weight: 900;
  color: #ffffff;
  font-size: 75px;
}

.section-03_p {
  width: 451.01px;
  font-weight: 700;
  color: #5f5d5b;
  font-size: 15.54px;
  text-align: justify;
}

.sider_div_img_operaciones {
  display: flex;
  flex-direction: column;
width:550px;
  height: 600px;
transform: scaleX(-1);
background-image: url(../assets/Maquinarias/ServicioLOGISTICA.jpg);
background-repeat: repeat;
background-position: center;
background-size: cover;
}

.sider_div_img_estiba {
  display: flex;
  flex-direction: column;
width:550px;
  height: 600px;
/* transform: scaleX(-1); */
background-image: url(../assets/Maquinarias/ServicioESTIBAS.jpg);
background-repeat: repeat;
background-position: center;
background-size: cover;
}

.sider_div_img_maritima {
  display: flex;
  flex-direction: column;
width:550px;
  height: 600px;
/* transform: scaleX(-1); */
background-image: url(../assets/Maquinarias/ServicioAGENCIAMIENTO.jpg);
background-repeat: repeat;
background-position: center;
background-size: cover;
}




@media screen and (min-width:1366px){
    .sider_div_img_operaciones  {
        width:50%;
    }
      .sider_div_img_estiba  {
        width:50%;
    }
        .sider_div_img_maritima  {
        width:50%;
    }

    .maquinaria_info {
       width:45%;
    }
      .maquinaria_collage {
       width:55%;
    }


      .sider_div_info  {
        width:50%;
    }

        }

.onda_central {
  position: absolute;
  z-index: 200;
  left: calc(50% - 56px);
  top: 50%;
}
/* section-04  */
.section-04 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
background-image: url(../assets/BGMaquinarias.png);
width: 100%;
height: 678px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}

.maquinaria_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 220px;
/* width: 80%; */
/* height: 200px; */
}

.maquinaria_container_second {
    display: flex;
width: 100%;
margin-bottom: 30PX;
}


.maquinaria_second_2 {
  display: flex;
      justify-content: center;
    align-items: center;
  flex-wrap: wrap;
  width: 100%;
height: 400px;
}

.maquinaria_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: 100%;

}

.maquinaria_collage {
  display: grid;
  grid-template-columns: repeat(4,142px);
 
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  width:65%;

  
}
.section-04_h1 {  
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  font-size: 61.61px;
}
.section-04_p {
   font-family: 'Helvetica Neue LT Std';
  width: 90%;
  font-weight: 100;
  color: #FFF;
  font-size: 16px;
  text-align: justify;
}

.imagen-collage {
  display: flex;
  justify-content: center;
  align-items: center;
cursor: pointer;
width: 100%;
height: 143px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
font-size: 16px;
font-weight: 600;
color: #FFF;
position:relative;
z-index: 10;
transition: transform .4s;
}

.imagen-collage:hover {
transform: scale(1.02);
}

.imagen-collage::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
z-index: -1;
}




.overloadCollage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, .7);
  z-index: 100;
}
.sub_overloadCollage {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prevMaquinaria {
  cursor: pointer;
  position: absolute;
  left: 20%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.nextMaquinaria {
   cursor: pointer;
  right: 20%;
    position: absolute;
   transition: 0.6s ease;
    user-select: none;
color: #FFF;
  padding: 16px;
font-size: 30px;
  border-radius: 3px 0 0 3px;
}
.prevMaquinaria:hover, .nextMaquinaria:hover {
  background-color: rgba(0,0,0,0.8);
}


.containermySlides {

  width: 100%;
  height: 100%;
  position: relative;
}

.mySlides {
  max-width: 100%;
}
.slider_img_maquinaria {
width: 660px;
height: 100%;
z-index: 101;
border: #000 8px solid;
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.buttonExit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
position: absolute;
top: 20px;
right: 20px;
  cursor: pointer;
  height: 40px;
  z-index: 102;
  font-size: 25px;
  color: #FFF;
  background-color: #000;
  transition: background .4s ;
}
.buttonExit:hover {
background-color: red;
}


/* section 5 */

.section-05 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* background-color: #f8f8f8; */
max-width: 100%;
height: 680px;
padding: 80px 0px 80px 80px;
}

.section-05_h1 {
  font-weight: 900;
  text-align: center;
  color: #2c2c2c;
  font-size: 50px;  
}
.puertos_container {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.puertos_options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
}


.puertos_list {
  display: flex;
  width: 110px;
  margin-top: 10px;
  justify-content: flex-start;
  align-items: center;
}
.puertos_map {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;

}

.puertos_h1 {
  font-weight: 700;
  text-align: center;
  color: #9b9894;
  font-size: 16px;
  cursor: pointer;
  transition: color .4s linear;
}
.puertos_h1:hover {
  color: #383736;
}

.activePuertoH1 {
    color: #383736;
}


/* SECTION 6 */
.section-06 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #FFF;
width: 100%;
padding: 0px 0px 80px 0px;
}

.section-06_h1 {
  font-weight: 900;
  text-align: center;
  color: #2c2c2c;
  font-size: 50px;  
}
.clientes_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}
.clientes_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.clientes_text p {
font-family: 'Helvetica Neue LT Std';
font-size: 16px;
text-align: center;
margin-bottom: 20px;
font-weight: 700;
opacity: .7;
color: #1c1b1b;
}
.clientes_img_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

.img_container_01 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 80%; */
}


/* SECTION 6 */
.section-07 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #eeeeee;
width: 100%;
height: 452px;

}
.ondas_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
/* background-image: url(../assets/ondas_blancas.png); */

padding: 120px;
background-repeat: repeat;
background-position: center;
background-size: cover;
}

.section-07_h1 {
  font-weight: 900;
  text-align: center;
  color: #2c2c2c;
  font-size: 50px;  
}
.clientes_container {
  display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  width: 100%;
}

.iconos_container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.icono{
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}


.form_container {
  display: flex;
  justify-content: space-around;
  height: 60px;
  width: 600px;
  border-radius: 10px;
  background-color: #FFF;
  padding: 5px;
}
.input_class {
  margin-left: 20px;
  font-size: 24px;
  opacity: .7;
  width: 90%;
  height: 90%;
  border: 0;
  outline: none;
} 

.logo_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  width: 100%;
  height: 20px;
}


.section-08 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1b1b;
  width: 100%;
  height: 416px;
  /* padding: 80px 0px 80px 0px; */
  
}

.footer_principal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 300px;


}
.footer_principal_img{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 74px;
}

.footer_principal p {
      font-family: 'Helvetica Neue LT Std';
font-size: 10px;
text-align: center;
margin-bottom: 20px;
font-weight: 700;
opacity: .7;
color: #FFF;
}


.sider-margins {
  /* justify-content: center;
  align-items: center; */
  margin-left: 180px;
}

/* medias query  */

/* @media (max-width: 1024px) {

} */



@media (max-width: 1024px) {

  .nav_log_img {
    left: 1px;
  }
.sider_div_info {
 width:300px;
 justify-content: center;
 align-items: center;
}
.section-02_container {
  width: 100%;
  
}
.section-02__div {
  width: 280px;
}

.sider_div_info_h1 {
  font-size: 50px;
}
.section-03_p {
  width: 80%;
  margin: 0px;  
  font-size: 12px;

}

  .sider_div_img_operaciones  {
        width:50%;
    }
    .sider-margins {
      margin: 30px;
   align-items: center;
    }
      .sider_div_img_estiba  {
        width:50%;
    }
        .sider_div_img_maritima  {
        width:50%;
    }

    .maquinaria_info {
       width:45%;
    }
      .maquinaria_collage {
       width:55%;
    }
      .sider_div_info  {
        justify-content: center;
        align-items: center;
        width:50%;
    }

    .img_container_01 {
      flex-wrap: wrap;
    }
        .img_container_02 {
      flex-wrap: wrap;
    }
        .img_container_03 {
      flex-wrap: wrap;
    }
}

.nav_container_img_res {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  margin-top: 30px;
}

.nav_img_res {
  display: flex;
  width: 16px;  
  height: 12px;
}








/* media 768 */

@media (max-width: 768px) {

  .section-01_video {
    width: 400px;
    margin-top: -70px;
  }
  .section-01_text {
        margin-top: -70px;
  }
  .nav_ul_respon {
    justify-content: space-around;
    align-items: center;
     position: absolute;
     padding: 50px 0px;
     top: 50px;
       right: 50px;
       border-radius: 5px;
    width: 300px;
    height: 350px;
    background-color: rgba(27, 35, 36, .7);
   
  flex-direction: column;
}

  .header {
justify-content: flex-end;
}

.nav_container_img {
  display: none;
}

.nav_ul {
  display: none;
}
.nav_menu_option {
  display: flex;
  margin-right: 40px;

}
  .nav_log_img {
    left: 40px;
  }


.titulo_h1 {
  font-size: 100px;
}
.titulo_h3 {
  font-size: 80px
}

.portada {
height:100%;
}

/* .slider_img {
width: 100%;
} */

.ondas_container {
padding: 80px;
}
.section-03_container {
  width: 100%;
}

.section-03 {
  width: 100%;
  padding: 10px;
}

.section-04 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  height: 100vh;
  background-image: none;
  background-color: #1c1b1b;
}



.section-04_p {

  margin: 0px;
  padding: 0px;
}


.maquinaria_container {
justify-content: center;
align-items: center;
}

  .maquinaria_info {
       width:100%;
       margin: 0px;
      height: auto;
      
    }
      .maquinaria_collage {
       width:100%;
       margin-top: 30px;
    }


 }


 @media (max-width: 425px) { 
   .header {
     background-color: transparent;
   }
::-webkit-scrollbar {
    display: none;
}

   .section-07_h1 {
     font-size: 20px;
   }
   .clientes_text {
     font-size: 12px;
     width: 80%;
   }
   
   .section-01_h1 {
     font-size: 20px;
   }
.ondas_container_img {
  max-width: 100%;
}
.form_container {
  width: 80%;
}
.clientes_text {
  width: 100%;
}

.section-01_video {
width: 100%;
}
.section-04_h1 {
  font-size: 24px;
}

.section-04 {
max-width: 100%;
padding: 10px 0px;
}

.ondas_container {
  width: 100%;
  padding: 80px 0px;
}
/* .section-03_container {
  display: none;
} */

.section-04 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 90px 10px;
}
.maquinaria_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
  height: 100%;
  padding: 0px 0px;
  flex-wrap: wrap;
}

.maquinaria_container_second{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.maquinaria_second_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}
.maquinaria_collage {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(2,1fr); */
  /* grid-gap: 3px; */
  justify-content: center;
  align-items: center;
  width:100%;
 
}
.titulo_h1 {
  font-size: 30px;
}
.titulo_h3 {
  font-size: 20px;
}
.slider_img {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.nav_log_img {
  height: 80px;
}

 }